/* sohan  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}




    /* <!-- header  --> */
    
    /* <!-- home  --> */
    
    /* <!-- Ideas --> */
    
    /* <!-- work  --> */
    
    /* <!-- post --> */
    
    /* <!-- touch  --> */

    /* <!-- about --> */

    /* <!-- Footer --> */